@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body,h1,h2,h3,h4,h5,h6,p,div,span,ul,li,ol,small,a{
	font-family: 'Lato', sans-serif;
}
.body{
	
	font-size:16px;
	}
	p{
	color:#6c6c6f;
	font-size:1em;
	}
	h1,h2,h3,h4,h5,h6{color:#323233;/* text-transform:uppercase; */}
	body navbar.navbar-expand-md.navbar-dark.fixed-top.shrink ul li a{
		color:#000 !important;
	}
	.navbar.shrink .navbar-nav .nav-item .nav-link {
		color: #000;
	}
	.navbar.shrink {
		/* padding-top: 35px; */
		height: 88px !important;
	}
	.navbar.shrink .navbar-nav li.nav-item.download-app-btn a {
		background-color: #8338EC;
		color:#fff;
	}
	
	.navbar.navbar-expand-md.navbar-dark.fixed-top.shrink img.main-logo{
		display:none;
	}
	.navbar.navbar-expand-md.navbar-dark.fixed-top.shrink img.white-bg-logo{
		display:block !important;
	}	
.navbar-brand  span{
	color: #fed136;
	font-size:25px;font-weight:700;letter-spacing:0.1em;
    
}
.navbar-brand {
	color: #fff;
	font-size:25px;
   
	font-weight:700;
	letter-spacing:0.1em;
}

.navbar-nav .nav-item .nav-link{
	padding: 1.1em 1.7em!important;
	font-size: 120%;
	font-weight: 500;
	letter-spacing: 1px;
	color: #fff;
}
.navbar-nav .nav-item .nav-link:hover{color:#fed136;}
.navbar-expand-md .navbar-nav .dropdown-menu{
	border-top:3px solid #fed136;
}
.dropdown-item:hover{background-color:#fed136;color:#fff;}
nav{-webkit-transition: padding-top .3s,padding-bottom .3s;
    -moz-transition: padding-top .3s,padding-bottom .3s;
    transition: padding-top .3s,padding-bottom .3s;
    border: none;
	}
	
 .shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}
.banner{
	background-image: url('../img/bg-one.jpg');
	text-align: center;
	color: #fff;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.banner-text{
	padding: 183px 0 150px 0;
}
.banner-heading{
	
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
	color:#fff;
}
.banner-sub-heading{
	
	font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 50px;
	color:#fff;
}

.btn-banner{
	padding:5px 20px;
	border-radius:10px;
	font-weight:700;
	line-height:1.5;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
.text-intro{
	width:90%;
	margin:auto;
	text-align:center;
	padding-top:30px;
	padding-bottom: 41px;
}


/* mobile view */
@media (max-width:500px)
{
	.navbar-nav{
		background-color:#000;
		border-top:3px solid #fed136;
		color:#fff;
		z-index:1;
		margin-top:5px;
		}
	.navbar-nav .nav-item .nav-link{
	padding: 0.7em 1em!important;
	font-size: 100%;
    font-weight: 500;
    }
	.banner-text{
	padding:150px 0 150px 0;
}
.banner-heading{
	font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
	font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
}

}

@media (max-width:768px){
	.banner-text{
	padding:150px 0 150px 0;
}
	.banner-sub-heading{
	font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
}
}
 
/*CONTENT CSS START*/

.col-lg.banner-img img {width: 64%;}

.banner-heading h1 {
    color: #fff;
    font-size: 45px;
    text-transform: capitalize;
    text-align: left;
    padding-right: 100px;
    line-height: 60px;
}

.banner-heading p {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-align: left;
    line-height: 0;
    margin-bottom: 0px !important;
    padding-top: 40px;
    padding-bottom: 6px;
    font-weight: 600;
}

.banner-img {position: relative;top: 159px;}

.banner-btns {
    text-align: left;
}

.banner-btns a {
    padding: 10px 27px;
    border-radius: 28px;
    box-shadow: none;
    border: 0px;
    background-color: #E6E6E6;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato';
}

.banner-btns a:hover{
	text-decoration: none;
}
.banner-btns a i {
    padding-right: 8px;
}

section#about {
    padding-top: 147px;
    padding-bottom: 60px;
}
.navbar-nav  li.nav-item.download-app-btn a {
    background-color: #e6e6e6;
    padding: 8px 27px !important;
    border-radius: 30px;
    margin-top: 12px;
    color: #000;
	margin-left: 10px;
    margin-right: 10px;
	text-align: center;
}
nav#banner {
    /* padding-top: 35px; */
    height: 121px;
}
.text-intro h1 {
    text-transform: initial;
    font-weight: 500;
}
.row.about-3-col .col-sm {
    height: 480;
    background-color: #F2F2F2;
    padding-top: 50px;
    margin: 0px 7px;
    position:relative;
}
.row.about-3-col .col-sm.about-1 img {
     position: absolute;
     bottom: 0px;
     width:90%
}
.row.about-3-col .col-sm.about-2 img {
     position: absolute;
     bottom: 30px;
     left:calc(50% - 100px);
     width:60%
}
.row.about-3-col .col-sm.about-3 img {
     position: absolute;
     bottom: 0px;
     left:0px;
     width:99%
     
}
.row.about-3-col h3 {
    text-transform: initial;
    font-size: 26px;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
}
.call-section.row {
    /* text-align: center; */
    width: 80%;
    margin: 0 auto;
}

section#call-to-action {
    padding: 125px 0px;
    background: url(../img/bg-two.jpg);
    background-position: center;
}

.call-to-action-text.md-10 {
    padding-left: 40px;
}

.call-to-action-text.md-10 h2 {
    color: #fff;
    padding-bottom: 20px;
}

.call-to-action-text a {
    padding: 10px 27px;
    border-radius: 28px;
    box-shadow: none;
    border: 0px;
    background-color: #E6E6E6;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Lato';
}

.call-to-action-text a i {
    padding-right: 8px;
}
.font-control{
	font-size: 16px;
}
.foot-menu li{
	display:inline;
	padding-right: 15px;
	padding-left: 15px;
}
.foot-menu{
	padding-left: 0px;
	margin-top: 27px;
}
footer{
	background: #001628;
}
.clr-white{
	color: #fff;
}
ul.foot-menu li i {
    background-color: #FFBE0B;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    color: black;
}
.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	background: #f2f2f2;
}

.navbar-toggler:not(:disabled):not(.disabled) {
	cursor: pointer;
	background: #f2f2f2;
}
.navbar-collapse.collapse.show ul{
	padding-bottom:20px !important;
}
@media (min-width: 1200px){
	footer .container {
		max-width: 1400px;
	}}
	
	footer {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	.footer-logo img {
		filter: brightness(0) invert(10);
	}
	
	.foo-logo-below {
		margin-top: 66px;
	}
	
	.footer-main.row {
		padding-bottom: 30px;
	}
	
	.footer-copyright {
		border-top: 2px solid #007bff;
		padding-top: 23px;
		/* color: Red !important; */
	}
	
	.foo-logo-below p {
		color: #007bff;
	}
	
	.footer-copyright p {
		color: #fff;
	}


	/*MEDIA QUERY*/

	@media only screen and (max-width:768px){
		h1 {
			font-size: 18px !important;
			text-transform: capitalize;
			padding-right: 0px !important;
			line-height: 35px !important;
			font-weight:700 !important
		}
		.banner-text {
			padding-left:20px;
			padding-right:20px;
			padding-bottom:0px;
			/* text-align: center !important; */
		}
		.banner-heading p {
		font-size: 15px;
		line-height: unset;
		}
		p{
			font-size:14px !important;
		}
		button {
		padding: 7px 18px !important;
		font-size: 13px !important;
		font-weight: 600;
		}
		.banner-img {
		position: relative;
		top: 64px;
		}
		section#about {
		padding-top: 70px;
		}
		h3 {
			font-size:20px !important;
		}
		.row.about-3-col h3{
			text-align:center;
		}
		.row.about-3-col .col-sm.about-1 img {
		position: relative;
		width: 60%;
		margin-top:70px;
		
	}
	.row.about-3-col .col-sm.about-1{
		text-align:center;
	}
	.row.about-3-col .col-sm.about-2 img {
		position: relative;
		width: 100%
		height:200px;
		margin-top:70px;
	}
	.row.about-3-col .col-sm.about-2{
		
	}
	.row.about-3-col .col-sm.about-3 img {
		position: relative;
		width: 60%;
		margin-top:70px;
		
	}
	.row.about-3-col .col-sm.about-3{
		text-align:center;
	}
	.row.about-3-col .col-sm {
		height: auto; 
		margin: 10px 7px;
		position: relative;
	}
	.call-to-action-text.md-10 {
		padding-left: 0px;
		margin: 0 auto;
		padding-top: 41px;
	}
	.call-section.row {
		
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	h2 {
		font-size: 19px;
		text-align:center !important;
		width: 100% !important;
	}
	.call-img-left.md-2 {
		margin:0 auto;
	}
	footer {
		text-align:center;
	}
	
	ul.foot-menu {
		width: 100%;
		margin:0 auto;
		padding-top:40px;
		text-align: center !important;
	}
	ul.foot-menu li{
		text-align:center !important;
		margin:0 auto !important;
	}
	ul.foot-menu li i{
		margin-top:20px !important;
	}
	.navbar-nav {
		background-color: #000;
		border-top: 0px solid #fed136;
		color: #fff;
		z-index: 1;
		margin-top: 5px;
	}
	.navbar.shrink .navbar-nav .nav-item .nav-link {
		color: #fff;
	}
	a.navbar-brand img {
		width: 120px;
	}
	}
	
	@media screen and (max-width: 1398px) and (min-width: 992px) {
		.row-social-ico {
		display: block;
	}    
	}
	.about-sub-heading{
		color: #ffbe0b;
		font-size: 32px;
		margin-bottom: 20px;
	}
	.about-sub-2-heading{
		color: white;
		font-size: 20px;
		background-color: #001628;
		padding: 15px;
		width: 50%;
		margin-bottom: 15px;
		-webkit-box-shadow: 4px 0px 11px -2px rgba(0,0,0,0.75);
		-moz-box-shadow: 4px 0px 11px -2px rgba(0,0,0,0.75);
		box-shadow: 4px 0px 11px -2px rgba(0,0,0,0.75);
	}
	.about-p{
		color: white;
		text-align: justify;
		font-size: 18px;
	}
	@media only screen and (max-width:899px){
		.hide-nav{display: none;}
	}
	html {
		scroll-behavior: smooth;
	  }
	@media only screen and (max-width: 768px){
		.about-sub-heading{
			font-size: 26px !important;
		}
		.about-sub-2-heading{
			padding: 10px;
			font-size: 18px;
			width: 70%;
		}
		.last-p{
			padding-bottom: 50px;
		}
	}
	@media only screen and (max-width: 450px){
		.about-sub-2-heading{
			width: 100%;
		}
	}
.first-li{
	font-size: 20px;
}
.first-li ol li{
	font-size: 16px;
}
	
	
	
/*MEDIA QUERY*/